<app-header
  header="ModalService"
  sub-header="Service"
  doc-url="https://designsystem.dk/komponenter/modal/"
></app-header>

<app-demo-view>
  <fds-button (click)="openModalExample1($event)">Åben modal #1</fds-button>
  <div class="mt-3">
    Result: {{ modalExample1result ? modalExample1result : '' }}
  </div>
</app-demo-view>

<app-demo-view>
  <fds-button (click)="openModalExample2($event)">Åben modal med tvungen handling</fds-button>
  <div class="mt-3">
    Result: {{ modalExample2result ? modalExample2result : '' }}
  </div>
</app-demo-view>

<app-doc-view> </app-doc-view>
