<app-header
  header="Faneblade"
  sub-header="Component"
  doc-url="https://designsystem.dk/komponenter/faneblad/"
></app-header>

<section>
  <h2>Default</h2>
  <app-demo-view>
    <fds-tabs>
      <fds-tab header="Fane 1">
        <h2>Indhold 1</h2>
        <p>
          Mauris tempor, tellus a laoreet finibus, neque metus hendrerit augue,
          ac lacinia nisl dolor et augue. Ut lorem massa, consequat ut orci sit
          amet, maximus dictum orci. Mauris pharetra nunc sed augue bibendum
          semper. Donec in cursus orci. Ut sed posuere elit, quis semper turpis.
          Curabitur malesuada nisi nec nisl facilisis ornare. Praesent
          vestibulum, velit id sollicitudin auctor, ipsum lacus auctor nisl, in
          lacinia sem massa eget urna.
        </p>
      </fds-tab>
      <fds-tab header="Fane 2">
        <h2>Indhold 2</h2>
        <p>
          Mauris tempor, tellus a laoreet finibus, neque metus hendrerit augue,
          ac lacinia nisl dolor et augue. Ut lorem massa, consequat ut orci sit
          amet, maximus dictum orci. Mauris pharetra nunc sed augue bibendum
          semper. Donec in cursus orci. Ut sed posuere elit, quis semper turpis.
          Curabitur malesuada nisi nec nisl facilisis ornare. Praesent
          vestibulum, velit id sollicitudin auctor, ipsum lacus auctor nisl, in
          lacinia sem massa eget urna.
        </p>
      </fds-tab>
      <fds-tab header="Fane 3">
        <h2>Indhold 3</h2>
        <p>
          Mauris tempor, tellus a laoreet finibus, neque metus hendrerit augue,
          ac lacinia nisl dolor et augue. Ut lorem massa, consequat ut orci sit
          amet, maximus dictum orci. Mauris pharetra nunc sed augue bibendum
          semper. Donec in cursus orci. Ut sed posuere elit, quis semper turpis.
          Curabitur malesuada nisi nec nisl facilisis ornare. Praesent
          vestibulum, velit id sollicitudin auctor, ipsum lacus auctor nisl, in
          lacinia sem massa eget urna.
        </p>
      </fds-tab>
    </fds-tabs>
  </app-demo-view>
</section>

<section>
  <h2>Customizable</h2>
  <app-demo-view>
    <fds-tabs>
      <button fds-tab-selector="tab1"><b>Fane 1</b></button>
      <section fds-tab-content="tab1" style="background-color: lightgreen">
        <h2>Indhold 1</h2>
        <p>
          Mauris tempor, tellus a laoreet finibus, neque metus hendrerit augue,
          ac lacinia nisl dolor et augue. Ut lorem massa, consequat ut orci sit
          amet, maximus dictum orci. Mauris pharetra nunc sed augue bibendum
          semper. Donec in cursus orci. Ut sed posuere elit, quis semper turpis.
          Curabitur malesuada nisi nec nisl facilisis ornare. Praesent
          vestibulum, velit id sollicitudin auctor, ipsum lacus auctor nisl, in
          lacinia sem massa eget urna.
        </p>
      </section>
      <button fds-tab-selector="tab2"><i>Fane 2</i></button>
      <section fds-tab-content="tab2" style="background-color: lightcoral">
        <h2>Indhold 2</h2>
        <p>
          Mauris tempor, tellus a laoreet finibus, neque metus hendrerit augue,
          ac lacinia nisl dolor et augue. Ut lorem massa, consequat ut orci sit
          amet, maximus dictum orci. Mauris pharetra nunc sed augue bibendum
          semper. Donec in cursus orci. Ut sed posuere elit, quis semper turpis.
          Curabitur malesuada nisi nec nisl facilisis ornare. Praesent
          vestibulum, velit id sollicitudin auctor, ipsum lacus auctor nisl, in
          lacinia sem massa eget urna.
        </p>
      </section>
      <button fds-tab-selector="tab3"><u>Fane 3</u></button>
      <section fds-tab-content="tab3" style="background-color: lightblue">
        <h2>Indhold 3</h2>
        <p>
          Mauris tempor, tellus a laoreet finibus, neque metus hendrerit augue,
          ac lacinia nisl dolor et augue. Ut lorem massa, consequat ut orci sit
          amet, maximus dictum orci. Mauris pharetra nunc sed augue bibendum
          semper. Donec in cursus orci. Ut sed posuere elit, quis semper turpis.
          Curabitur malesuada nisi nec nisl facilisis ornare. Praesent
          vestibulum, velit id sollicitudin auctor, ipsum lacus auctor nisl, in
          lacinia sem massa eget urna.
        </p>
      </section>
    </fds-tabs>
  </app-demo-view>
</section>

<app-doc-view></app-doc-view>
