<app-header
  header="Sprogvælger"
  sub-header="Component"
  doc-url="https://designsystem.dk/komponenter/sprogvaegler/"
>
  Used within <a [routerLink]="'/footers'">fds-footer</a> like this:
  <code>
    &lt;fds-footer&gt;<br />
    &nbsp;&nbsp;&lt;fds-language-picker&gt;&lt;/fds-language-picker&gt;<br />
    &lt;/fds-footer&gt;
  </code>
</app-header>

<app-demo-view>
  <fds-footer>
    <fds-language-picker
      [items]="[
        {
          nativeLanguageName: 'Dansk',
          currentLanguageName: 'Dansk',
          iso639dash1code: 'da',
          isActive: true,
          url: '?lang=da'
        },
        {
          nativeLanguageName: 'English',
          currentLanguageName: 'Engelsk',
          iso639dash1code: 'en-gb',
          isActive: false,
          url: '?lang=en-gb'
        },
        {
          nativeLanguageName: 'Deutsch',
          currentLanguageName: 'Tysk',
          iso639dash1code: 'de',
          isActive: false,
          url: '?lang=de'
        },
        {
          nativeLanguageName: 'Polski',
          currentLanguageName: 'Polsk',
          iso639dash1code: 'pl',
          isActive: false,
          url: '?lang=pl'
        }
      ]"
      (change)="
        alert('You selected: ' + $event.selectedItem.nativeLanguageName)
      "
    ></fds-language-picker>
  </fds-footer>
</app-demo-view>

<app-doc-view> </app-doc-view>
