<app-header
  header="Overflow Menu"
  sub-header="Component"
  doc-url="https://designsystem.dk/komponenter/overflowmenu/"
></app-header>

<app-demo-view>
  <fds-overflow-menu
    [items]="[
      { title: 'Valgmulighed #1' },
      { title: 'Valgmulighed #2' },
      { title: 'Valgmulighed #3' }
    ]"
    (item-clicked)="alert('You press: ' + $event.selectedItem.title)"
  ></fds-overflow-menu>
</app-demo-view>

<app-demo-view>
  <fds-overflow-menu
    direction="left"
    [items]="[
      { title: 'Valgmulighed #1' },
      { title: 'Valgmulighed #2' },
      { title: 'Valgmulighed #3' }
    ]"
    (item-clicked)="alert('You press: ' + $event.selectedItem.title)"
  ></fds-overflow-menu>
</app-demo-view>

<app-demo-view>
  <fds-overflow-menu
    placeholder="Vælg her"
    [items]="[
      { title: 'Valgmulighed #1' },
      { title: 'Valgmulighed #2' },
      { title: 'Valgmulighed #3' }
    ]"
    (item-clicked)="alert('You press: ' + $event.selectedItem.title)"
  ></fds-overflow-menu>
</app-demo-view>

<app-demo-view>
  <fds-overflow-menu
    placeholder="Skift side"
    [items]="[
      { title: 'Spinner', url: '/spinner' },
      { title: 'Modal', url: '/modalvindue' },
      { title: 'Paginering', url: '/paginering' }
    ]"
  ></fds-overflow-menu>
</app-demo-view>

<app-demo-view>
  <fds-overflow-wrapper direction="right">
    <fds-overflow-button>
      <h6 class="mt-0">This is a random header</h6>
    </fds-overflow-button>
    <fds-overflow-dialog>
      <div style="background-color: lightblue; margin: -8px 0; padding: 8px">
        Custom implementation?
      </div>
    </fds-overflow-dialog>
  </fds-overflow-wrapper>
</app-demo-view>

<app-demo-view>
  <fds-overflow-wrapper direction="left">
    <fds-overflow-button>
      <svg class="icon-svg" aria-hidden="true" focusable="false">
        <use xlink:href="#more-vert"></use>
      </svg>
      Vælg noget her
    </fds-overflow-button>
    <fds-overflow-dialog>
      <fds-overflow-list>
        <fds-overflow-list-item (click)="alert('Valgmulighed #1')">Du kan vælge denne</fds-overflow-list-item>
        <fds-overflow-list-item (click)="alert('Valgmulighed #2')">Eller denne</fds-overflow-list-item>
        <fds-overflow-list-item (click)="alert('Valgmulighed #3')">Du kan også vælge denne</fds-overflow-list-item>
      </fds-overflow-list>
    </fds-overflow-dialog>
  </fds-overflow-wrapper>
</app-demo-view>

<app-doc-view> </app-doc-view>
