<app-header
  header="Beskeder (Alerts)"
  sub-header="Component"
  doc-url="https://designsystem.dk/komponenter/beskeder/"
>
</app-header>

<app-demo-view>
  <fds-alert header="Normal besked">
    <fds-alert-content>
      Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor
      sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert header="Informativ besked" type="info">
    <fds-alert-content>
      Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor
      sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert type="warning" [show-icon]="true">
    <fds-alert-header>
      <i>Advarsels besked</i>
    </fds-alert-header>
    <fds-alert-content>
      Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor
      sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert header="Informativ besked" type="success">
    <fds-alert-content>
      Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor
      sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert header="Informativ besked" type="warning">
    <fds-alert-content>
      Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor
      sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert header="Informativ besked" type="error">
    <fds-alert-content>
      Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor
      sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert header="Normal besked" [show-icon]="true">
    <fds-alert-content>
      Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor
      sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert header="Informativ besked" type="info" [show-icon]="true">
    <fds-alert-content>
      Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor
      sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert header="Informativ besked" type="success" [show-icon]="true">
    <fds-alert-content>
      Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor
      sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert header="Informativ besked" type="warning" [show-icon]="true">
    <fds-alert-content>
      Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor
      sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert header="Informativ besked" type="error" [show-icon]="true">
    <fds-alert-content>
      Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor
      sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert header="Informativ besked"></fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert header="Informativ besked" [show-icon]="true"></fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert>
    <fds-alert-content>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert [show-icon]="true">
    <fds-alert-content>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-demo-view>
  <fds-alert
    [show-icon]="true"
    [can-close]="true"
    (close)="alert('alert was closed')"
  >
    <fds-alert-content>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium.
    </fds-alert-content>
  </fds-alert>
</app-demo-view>

<app-doc-view></app-doc-view>
