<app-header
  header="Funktionslink"
  sub-header="Component"
  doc-url="https://designsystem.dk/komponenter/funktionslink/"
></app-header>

<app-demo-view>
  <fds-function-link
    icon="print"
    text="Print"
    (click)="alert('You clicked Print')"
  ></fds-function-link>
</app-demo-view>

<app-demo-view>
  <fds-function-link
    icon="save"
    text="Gem"
    (click)="alert('You clicked Gem')"
  ></fds-function-link>
</app-demo-view>

<app-demo-view>
  <fds-function-link
    icon="close"
    text="Luk"
    (click)="alert('You clicked Luk')"
  ></fds-function-link>
</app-demo-view>

<app-demo-view>
  <fds-function-link
    icon="trash-can"
    text="Slet"
    (click)="alert('You clicked Slet')"
  ></fds-function-link>
</app-demo-view>

<app-demo-view>
  <fds-function-link
    icon="file-download"
    text="Download"
    (click)="alert('You clicked Download')"
  ></fds-function-link>
</app-demo-view>

<app-demo-view>
  <fds-function-link
    text="Download"
    (click)="alert('You clicked Download')"
  ></fds-function-link>
</app-demo-view>

<app-demo-view>
  <fds-function-link
    icon="file-download"
    (click)="alert('You clicked Download')"
  ></fds-function-link>
</app-demo-view>

<app-doc-view></app-doc-view>