<app-header 
    header="Detaljer" 
    sub-header="Component"
    doc-url="https://designsystem.dk/komponenter/detaljer/"
></app-header>

<app-demo-view>
    <fds-details header="Mere information">
        <p>
            Pellentesque nulla mi, pulvinar id blandit eu, volutpat at
            libero. Integer euismod augue leo. 
        </p>
        <p>
            Morbi faucibus nunc tortor, condimentum vulputate urna
            sollicitudin non. Nam commodo nulla metus. Phasellus varius eu
            dolor nec ultricies. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris ac leo finibus, blandit velit nec,
            consequat est. Nulla facilisi.
        </p>
    </fds-details>
</app-demo-view>

<app-doc-view> </app-doc-view>
