import { Component, Input } from '@angular/core';

@Component({
  selector: 'fds-icon',
  templateUrl: './icon.component.html',
})
export class IconComponent {
  @Input()
  public icon: 
/*OPTIONS*/
    | null = null;
}
