<app-header header="Dropdown" sub-header="Component"></app-header>

<p>
  This dropdown allows for custom option-visual (with icons and more) and for
  more than 1 item to be selected. The visual of this dropdown is based on the
  description FDS has provided for a multi-select-dropdown
  <a href="https://designsystem.dk/komponenter/dropdown/" target="_blank"
    >here
    <fds-icon icon="open-in-new"></fds-icon>
  </a>
</p>

<app-demo-view>
  <ngfds-select [(ngModel)]="dropdown1">
    <ngfds-option>Option #1</ngfds-option>
    <ngfds-option>Option #2</ngfds-option>
    <ngfds-option>Option #3</ngfds-option>
    <ngfds-option>Option #4</ngfds-option>
  </ngfds-select>
  <div class="my-3">
    {{ dropdown1 | json }}
  </div>
</app-demo-view>

<app-demo-view>
  <ngfds-select [(ngModel)]="dropdown2" placeholder="Choose one">
    <ngfds-option>
      <fds-icon icon="face"></fds-icon>
      Option #1
    </ngfds-option>
    <ngfds-option>
      <fds-icon icon="support-agent"></fds-icon>
      Option #2
    </ngfds-option>
    <ngfds-option>
      <fds-icon icon="drive-eta"></fds-icon>
      Option #3
    </ngfds-option>
    <ngfds-option>
      <fds-icon icon="accessibility-new"></fds-icon>
      Option #4
    </ngfds-option>
  </ngfds-select>
  <div class="my-3">
    {{ dropdown2 | json }}
  </div>
</app-demo-view>

<app-demo-view>
  <ngfds-select
    [(ngModel)]="dropdown3"
    size="width-l"
    placeholder="Choose one or more"
    [allow-multiple]="true"
  >
    <ngfds-option>
      <fds-icon icon="face"></fds-icon>
      Option #1
    </ngfds-option>
    <ngfds-option>
      <fds-icon icon="support-agent"></fds-icon>
      Option #2
    </ngfds-option>
    <ngfds-option>
      <fds-icon icon="drive-eta"></fds-icon>
      Option #3
    </ngfds-option>
    <ngfds-option>
      <fds-icon icon="accessibility-new"></fds-icon>
      Option #4
    </ngfds-option>
    <ngfds-option>
      <fds-icon icon="face"></fds-icon>
      Option #5
    </ngfds-option>
    <ngfds-option>
      <fds-icon icon="support-agent"></fds-icon>
      Option #6
    </ngfds-option>
    <ngfds-option>
      <fds-icon icon="drive-eta"></fds-icon>
      Option #7
    </ngfds-option>
    <ngfds-option>
      <fds-icon icon="accessibility-new"></fds-icon>
      Option #8
    </ngfds-option>
  </ngfds-select>
  <div class="my-3">
    {{ dropdown3 | json }}
  </div>
</app-demo-view>

<app-doc-view> </app-doc-view>
