<app-header header="Context Menu" sub-header="Component"> </app-header>

<app-demo-view>
  <fds-header>
    <fds-navigation>
      <fds-context-menu>
        <p _ngcontent-ycb-c45="" class="nav-secondary-heading">Vælg bruger:</p>
        <ul class="unstyled-list nav-actions">
          <li>
            <fds-overflow-menu
              [items]="[
                { title: 'Jens Hansen', url: '#' },
                { title: 'Hans Jensen', url: '#' },
                { title: 'Julie Hansen', url: '#' },
                { title: 'Hilda Jensen', url: '#' }
              ]"
              placeholder="Jens Hansen"
              (item-clicked)="
                alert('You clicked: ' + $event.selectedItem.title)
              "
            ></fds-overflow-menu>
          </li>
        </ul>
      </fds-context-menu>
    </fds-navigation>
  </fds-header>
</app-demo-view>

<app-demo-view>
  <fds-header>
    <fds-navigation>
      <fds-context-menu
        [buttons]="[
          { text: 'Knap 1', url: '#' },
          { text: 'Knap 2', url: '#' },
          { text: 'Knap 3', url: '#' }
        ]"
        (button-click)="alert('You pressed: ' + $event.selectedItem.text)"
      ></fds-context-menu>
    </fds-navigation>
  </fds-header>
</app-demo-view>

<app-demo-view>
  <fds-header>
    <fds-navigation>
      <fds-context-menu
        [buttons]="[
          { text: 'Knap 1', url: '#' },
          { text: 'Knap 2', url: '#' },
          { text: 'Knap 3', url: '#' }
        ]"
        (button-click)="alert('You pressed: ' + $event.selectedItem.text)"
      >
        <p _ngcontent-ycb-c45="" class="nav-secondary-heading">Vælg bruger:</p>
        <ul class="unstyled-list nav-actions">
          <li>
            <fds-overflow-menu
              [items]="[
                { title: 'Jens Hansen', url: '#' },
                { title: 'Hans Jensen', url: '#' },
                { title: 'Julie Hansen', url: '#' },
                { title: 'Hilda Jensen', url: '#' }
              ]"
              placeholder="Jens Hansen"
              (item-clicked)="
                alert('You clicked: ' + $event.selectedItem.title)
              "
            ></fds-overflow-menu>
          </li>
        </ul>
      </fds-context-menu>
    </fds-navigation>
  </fds-header>
</app-demo-view>

<app-doc-view></app-doc-view>
