<app-header
  header="Ikoner"
  sub-header="Component"
  doc-url="https://designsystem.dk/design/ikoner/#betydning"
>
  Add the following code to the bottom of you app.component.html for icons to
  work
  <code> &lt;fds-icon-base&gt;&lt;/fds-icon-base&gt; </code>
</app-header>

<section>
  <h2>Default</h2>
  <app-demo-view>
    <fds-icon icon="add"></fds-icon>
  </app-demo-view>
</section>

<section>
  <h2>Icon With Tooltip</h2>
  <app-demo-view>
    <fds-icon icon="info" fds-tooltip="Heyo"></fds-icon>
  </app-demo-view>
</section>

<app-doc-view></app-doc-view>
