<fds-header>
  <!-- <fds-portal-header></fds-portal-header> -->
  <fds-solution-header
    header="Unofficial Open Source Angular Library implementing DKFDS"
  ></fds-solution-header>
</fds-header>

<div class="container page-container">
  <div class="row">
    <aside class="col-12 col-lg-3 sidebar-col">
      <ngfds-side-navigation
        header="Introduction"
        icon-position="right"
        [is-expanded]="true"
        [items]="introductionMenu"
        [item-template]="navigationItemTemplate"
      ></ngfds-side-navigation>

      <ngfds-side-navigation
        header="DKFDS components"
        icon-position="right"
        [is-expanded]="true"
        [items]="dkfdsComponents"
        [item-template]="navigationItemTemplate"
      ></ngfds-side-navigation>

      <ngfds-side-navigation
        header="NGFDS components"
        icon-position="right"
        [is-expanded]="true"
        [items]="dkfdsExtra"
        [item-template]="navigationItemTemplate"
      ></ngfds-side-navigation>
    </aside>
    <main class="col-12 col-lg-9" id="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<ng-template
  #navigationItemTemplate
  let-item="item"
  let-parent="parent"
  let-level="level"
>
  <a
    [routerLink]="item.url"
    role="menuitem"
    [attr.aria-current]="getAriaCurrent(item)"
    class="d-flex"
  >
    <div class="f-1">
      {{ item.title }}
    </div>
    <div>
      <!-- <fds-badge [fds-tooltip]="item.state"> -->
      <fds-badge
        [title]="item.state"
        type="error"
        *ngIf="item.state == 'not implemented'"
        >NI</fds-badge
      >
      <fds-badge
        [title]="item.state"
        type="warning"
        *ngIf="item.state == 'work in progress'"
        >WIP</fds-badge
      >
      <fds-badge type="success" *ngIf="item.state == 'done'">DONE</fds-badge>
    </div>
  </a>
</ng-template>

<fds-footer></fds-footer>

<fds-icon-base></fds-icon-base>
