<app-header
  header="Cards"
  sub-header="Component"
  doc-url="https://designsystem.dk/komponenter/cards/"
></app-header>

<section>
  <h2>Simple example</h2>
  <app-demo-view>
    <fds-card header="Overskrift">
      <fds-card-content>
        <p>Indhold</p>
      </fds-card-content>
    </fds-card>
  </app-demo-view>
</section>

<section>
  <h2>Advanced example</h2>
  <app-demo-view>
    <fds-card header="Header" subheader="Understøttende tekst">
      <fds-card-content>
        <p>
          Dette er et <i>tekstområde</i>, hvor du kan skrive hvad du har lyst
          til.
        </p>
        <fds-button visual="secondary">Sekundærknap</fds-button>
        <fds-button visual="tertiary">Tertiærknap</fds-button>
        <p>
          <a href="#"> Et link til et sted i løsningen </a>
        </p>
        <p>
          <a href="https://designsystem.dk/">
            Et link til et sted uden for løsningen
          </a>
        </p>
      </fds-card-content>
    </fds-card>
  </app-demo-view>
</section>


<app-doc-view> </app-doc-view>
