<app-header 
    header="Knapper" 
    sub-header="Component"
    doc-url="https://designsystem.dk/komponenter/knapper/"
></app-header>

<app-demo-view>
    <fds-button (click)="doStuff()">
        Næste
    </fds-button>
</app-demo-view>

<app-demo-view>
    <fds-button visual="primary" (click)="doStuff()">
        Næste
    </fds-button>
</app-demo-view>

<app-demo-view>
    <fds-button visual="secondary" (click)="doStuff()">
        Næste
    </fds-button>
</app-demo-view>

<app-demo-view>
    <fds-button visual="tertiary" (click)="doStuff()">
        Næste
    </fds-button>
</app-demo-view>


<app-doc-view> </app-doc-view>
