<app-header
  header="Footer"
  sub-header="Component"
  doc-url="https://designsystem.dk/komponenter/footers/"
></app-header>

<app-demo-view>
  <fds-footer>
    <ul class="mt-4 align-text-left unstyled-list inline-list">
      <li class="">
        <h1 class="h5 d-inline-block">Digitaliseringsstyrelsen</h1>
      </li>
      <li class="">
        <a
          href="mailto:support@myndighed.dk"
          class="function-link"
          title="Skriv til Digitaliseringsstyrelsen"
        >
          support@myndighed.dk
        </a>
      </li>
      <li class="">
        <a
          href="tel:+4512345678"
          class="function-link"
          title="Ring til Digitaliseringsstyrelsen"
        >
          (+45) 12 34 56 78
        </a>
      </li>
      <li class="d-print-none">
        <a href="#" class="function-link icon-link">
          Tilgængelighedserklæring
          <svg class="icon-svg" focusable="false" aria-hidden="true">
            <use xlink:href="#open-in-new"></use>
          </svg>
        </a>
      </li>
      <li class="d-print-none">
        <a href="#" class="function-link">Privatlivspolitik (cookies)</a>
      </li>
    </ul>
  </fds-footer>
</app-demo-view>

<app-demo-view>
  <fds-footer>
    <fds-footer-column header="Links">
      <ul>
        <li>
          <a href="#">Læs lidt om dit</a>
        </li>
      </ul>
    </fds-footer-column>
  </fds-footer>
</app-demo-view>

<app-doc-view> </app-doc-view>
