<app-header
  header="Datoangivelse"
  sub-header="Component"
  doc-url="https://designsystem.dk/komponenter/dato-felt/"
></app-header>

<app-demo-view>
  <fds-date-input [(ngModel)]="date1"></fds-date-input>
  <div class="mt-2">
    Date as string: {{ date1 == null ? '(null)' : date1.toString() }}<br />
    Date with format: {{ date1 == null ? '(null)' : (date1 | date:'longDate') }}
  </div>
</app-demo-view>

<app-demo-view>
  <fds-date-input [(ngModel)]="date2presetToToday"></fds-date-input>
  <div class="mt-2">
    Date as string: {{ date2presetToToday == null ? '(null)' : date2presetToToday.toString() }}<br />
    Date with format: {{ date2presetToToday == null ? '(null)' : (date2presetToToday | date:'longDate') }}
  </div>
</app-demo-view>

<app-demo-view>
  <input type="checkbox" [(ngModel)]="date3isDisabled" /> Toggle disabled
  <fds-date-input [disabled]="date3isDisabled" [(ngModel)]="date3"></fds-date-input>
  <div class="mt-2">
    Date is disabled: {{ date3isDisabled ? 'Yes' : 'No' }}<br />
    Date as string: {{ date3 == null ? '(null)' : date3.toString() }}<br />
    Date with format: {{ date3 == null ? '(null)' : (date3 | date:'longDate') }}
  </div>
</app-demo-view>

<app-demo-view>
  <form (ngSubmit)="submitFormControl()">
    <fds-date-input [formControl]="dateInputFormControl"></fds-date-input>
    <fds-button class="mt-4" type="submit" [disabled]="!dateInputFormControl.valid">Submit</fds-button>
  </form>
</app-demo-view>

<app-demo-view>
  <form [formGroup]="dateInputFormGroup" (ngSubmit)="submitFormGroup()">
    <fds-date-input formControlName="birthday"></fds-date-input>
    <fds-button class="mt-4" type="submit" [disabled]="!dateInputFormGroup.valid">Submit</fds-button>
  </form>
</app-demo-view>

<app-doc-view></app-doc-view>